<div class="page-top">
  <h1 class="mt-20 mb-20">Step 3/3 - Identity Info</h1>
</div>

<form [formGroup]="formGroup">
  <div class="row mb-10">
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <mat-form-field class="w-full">
        <mat-label>Series</mat-label>
        <input matInput formControlName="series" />
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <mat-form-field class="w-full">
        <mat-label>Number*</mat-label>
        <input matInput formControlName="number" />
        <mat-error *ngIf="formGroup.controls.number.hasError('required')"
          >Number is <strong>required</strong></mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div class="row mb-10">
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <mat-form-field class="w-full">
        <mat-label>Issued by</mat-label>
        <input matInput formControlName="issuedBy" />
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <mat-form-field class="w-full">
        <mat-label>Date of issue*</mat-label>
        <input
          matInput
          formControlName="dateOfIssue"
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="formGroup.controls.dateOfIssue.hasError('required')"
          >Date of issue is <strong>required</strong></mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div class="row mb-20">
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <mat-form-field class="w-full">
        <mat-label>Document type*</mat-label>
        <mat-select formControlName="documentType">
          <mat-option
            *ngFor="let documentType of documentTypes"
            [value]="documentType.id"
            >{{ documentType.label }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="formGroup.controls.documentType.hasError('required')"
          >Document type is <strong>required</strong></mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <mat-label class="d-block">&nbsp;</mat-label>
      <input #file type="file" class="d-none" (change)="onFileChange($event)" />
      <button mat-flat-button color="primary" (click)="file.click()">Upload File</button>
    </div>
  </div>

  <button mat-flat-button color="success" (click)="onSaveClick()">Save</button>
</form>
