<div class="nav-wrapper">
    <div class="container">
        <div class="nav-wrapper-inner">
            <a routerLink="/client-form/client" mat-flat-button class="mr-20">Create a client</a>
            <button mat-flat-button (click)="logoutButtonClick()">Logout</button>
        </div>
    </div>
</div>
