.name-value-block
    .name-value-block__name
        display: block
        font-size: 12px
        font-weight: 600
        color: #a0a0a0
    .name-value-block__value
        display: block
        font-size: 16px
        font-weight: 500
        color: #222222
        word-break: break-word