<div class="page-top">
  <h1 class="mt-20 mb-20">Created Client</h1>
</div>

<div *ngIf="client$ | async as client" class="mb-35">
  <h2>Client Info</h2>

  <div class="row mb-20">
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-20">
      <div class="name-value-block">
        <span class="name-value-block__name">Last Name</span>
        <span class="name-value-block__value">{{client.lastName}}</span>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-20">
      <div class="name-value-block">
        <span class="name-value-block__name">Name</span>
        <span class="name-value-block__value">{{client.name}}</span>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-20">
      <div class="name-value-block">
        <span class="name-value-block__name">Middle Name</span>
        <span class="name-value-block__value">{{client.middleName ? client.middleName : '-'}}</span>
      </div>
    </div>
  </div>

  <div class="row mb-20">
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-20">
      <div class="name-value-block">
        <span class="name-value-block__name">Date of birth</span>
        <span class="name-value-block__value">{{client.dateOfBirth | date : 'MM/dd/yyyy'}}</span>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-20">
      <div class="name-value-block">
        <span class="name-value-block__name">Phone Number</span>
        <span class="name-value-block__value">{{client.phoneNumber}}</span>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-20">
      <div class="name-value-block">
        <span class="name-value-block__name">Gender</span>
        <span class="name-value-block__value">{{client.gender ? getGenderLabelById(client.gender) : '-'}}</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-20">
      <div class="name-value-block">
        <span class="name-value-block__name">Client group</span>
        <span class="name-value-block__value">{{getClientGroupLabelsListByIds(client.clientGroup).join(', ')}}</span>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-20">
      <div class="name-value-block">
        <span class="name-value-block__name">Coordinator</span>
        <span class="name-value-block__value">{{client.coordinator ? getCoordinatorLabelById(client.coordinator) : '-'}}</span>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-20">
      <div class="name-value-block">
        <span class="name-value-block__name">Do not send SMS</span>
        <span class="name-value-block__value">{{client.doNotSendSMS ? 'YES' : 'NO'}}</span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="address$ | async as address" class="mb-35">
  <h2>Address Info</h2>

  <div class="row mb-20">
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-20">
      <div class="name-value-block">
        <span class="name-value-block__name">Country</span>
        <span class="name-value-block__value">{{getCountryLabelById(address.country)}}</span>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-20">
      <div class="name-value-block">
        <span class="name-value-block__name">Area</span>
        <span class="name-value-block__value">{{address.area ? address.area : '-'}}</span>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-20">
      <div class="name-value-block">
        <span class="name-value-block__name">City</span>
        <span class="name-value-block__value">{{getCityLabelById(address.city)}}</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-20">
      <div class="name-value-block">
        <span class="name-value-block__name">Street</span>
        <span class="name-value-block__value">{{address.street ? address.street : '-'}}</span>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-20">
      <div class="name-value-block">
        <span class="name-value-block__name">House</span>
        <span class="name-value-block__value">{{address.house ? address.house : '-'}}</span>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-20">
      <div class="name-value-block">
        <span class="name-value-block__name">Index</span>
        <span class="name-value-block__value">{{address.index ? address.index : '-'}}</span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="identity$ | async as identity">
  <h2>Identity Info</h2>

  <div class="row mb-20">
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-20">
      <div class="name-value-block">
        <span class="name-value-block__name">Series</span>
        <span class="name-value-block__value">{{identity.series ? identity.series : '-'}}</span>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-20">
      <div class="name-value-block">
        <span class="name-value-block__name">Number</span>
        <span class="name-value-block__value">{{identity.number}}</span>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-20">
      <div class="name-value-block">
        <span class="name-value-block__name">Issued by</span>
        <span class="name-value-block__value">{{identity.issuedBy ? identity.issuedBy : '-'}}</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-20">
      <div class="name-value-block">
        <span class="name-value-block__name">Date of issue</span>
        <span class="name-value-block__value">{{identity.dateOfIssue | date : 'MM/dd/yyyy'}}</span>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-20">
      <div class="name-value-block">
        <span class="name-value-block__name">Document type</span>
        <span class="name-value-block__value">{{getDocumentTypeLabelById(identity.documentType)}}</span>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-20">
      <div class="name-value-block">
        <span class="name-value-block__name">File</span>
        <span class="name-value-block__value">{{identity.file ? 'File Uploaded' : 'File Not Uploaded'}}</span>
      </div>
    </div>
  </div>
</div>