<div class="page-top">
  <h1 class="mt-20 mb-20">Step 2/3 - Address Info</h1>
</div>

<form [formGroup]="formGroup">
  <div class="row mb-10">
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <mat-form-field class="w-full">
        <mat-label>Country*</mat-label>
        <mat-select formControlName="country">
          <mat-option *ngFor="let country of countries" [value]="country.id">{{
            country.label
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.controls.country.hasError('required')"
          >Country is <strong>required</strong></mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <mat-form-field class="w-full">
        <mat-label>Area</mat-label>
        <input matInput formControlName="area" />
      </mat-form-field>
    </div>
  </div>
  <div class="row mb-10">
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <mat-form-field class="w-full">
        <mat-label>City*</mat-label>
        <mat-select formControlName="city">
          <mat-option *ngFor="let city of getCitiesByCountryId()" [value]="city.id">{{
            city.label
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.controls.city.hasError('required')"
          >City is <strong>required</strong></mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <mat-form-field class="w-full">
        <mat-label>Street</mat-label>
        <input matInput formControlName="street" />
      </mat-form-field>
    </div>
  </div>
  <div class="row mb-20">
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <mat-form-field class="w-full">
        <mat-label>House</mat-label>
        <input matInput formControlName="house" />
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <mat-form-field class="w-full">
        <mat-label>Index</mat-label>
        <input matInput formControlName="index" />
      </mat-form-field>
    </div>
  </div>

  <button mat-flat-button color="success" (click)="onSaveClick()">Save</button>
</form>
