<div class="panel">
    <h1 class="ta-center">Вход в систему</h1>
    <form [formGroup]="formGroup">
        <mat-form-field class="w-full mb-20">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" />
            <mat-error *ngIf="formGroup.controls.username.hasError('required')">Username is <strong>required</strong></mat-error>
        </mat-form-field>
        <mat-form-field class="w-full mb-20">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" />
            <mat-error *ngIf="formGroup.controls.password.hasError('required')">Password is <strong>required</strong></mat-error>
        </mat-form-field>

        <button type="submit" mat-flat-button color="primary" (click)="loginButtonClick()">Login</button>
    </form>
</div>