<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="mat-typography">
  <h3>{{description}}</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button *ngIf="hasCancel" mat-button mat-dialog-close>Cancel</button>
  <button mat-button [color]="buttonColor" [mat-dialog-close]="true" cdkFocusInitial>{{buttonText}}</button>
</mat-dialog-actions>