<div class="page-top">
  <h1 class="mt-20 mb-20">Step 1/3 - Client Info</h1>
</div>

<form [formGroup]="formGroup">
  <div class="row mb-10">
    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
      <mat-form-field class="w-full">
        <mat-label>Last Name*</mat-label>
        <input matInput formControlName="lastName" placeholder="Hasanov" />
        <mat-error *ngIf="formGroup.controls.lastName.hasError('required')"
          >Last name is <strong>required</strong></mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
      <mat-form-field class="w-full">
        <mat-label>Name*</mat-label>
        <input matInput formControlName="name" placeholder="Kamran" />
        <mat-error *ngIf="formGroup.controls.name.hasError('required')"
          >Name is <strong>required</strong></mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
      <mat-form-field class="w-full">
        <mat-label>Middle Name</mat-label>
        <input matInput formControlName="middleName" />
      </mat-form-field>
    </div>
  </div>
  <div class="row mb-10">
    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
      <mat-form-field class="w-full">
        <mat-label>Date of birth*</mat-label>
        <input
          matInput
          formControlName="dateOfBirth"
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="formGroup.controls.dateOfBirth.hasError('required')"
          >Date of birth is <strong>required</strong></mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
      <mat-form-field class="w-full">
        <mat-label>Phone Number*</mat-label>
        <span matPrefix>+ &nbsp;</span>
        <input
          matInput
          formControlName="phoneNumber"
          placeholder="38095348341"
        />
        <mat-error *ngIf="formGroup.controls.phoneNumber.hasError('required')"
          >Phone number is <strong>required</strong></mat-error
        >
        <mat-error *ngIf="formGroup.controls.phoneNumber.hasError('pattern')"
          >Phone number must contain <strong>only digits</strong></mat-error
        >
        <mat-error
          *ngIf="
            formGroup.controls.phoneNumber.hasError('minlength') ||
            formGroup.controls.phoneNumber.hasError('maxlength')
          "
          >Phone number must have <strong>length 11 digits</strong></mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
      <mat-form-field class="w-full">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let gender of genders" [value]="gender.id">{{
            gender.label
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row mb-20">
    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
      <mat-form-field class="w-full">
        <mat-label>Client group</mat-label>
        <mat-select formControlName="clientGroup" multiple>
          <mat-option
            *ngFor="let clientGroup of clientGroups"
            [value]="clientGroup.id"
            >{{ clientGroup.label }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="formGroup.controls.clientGroup.hasError('required')"
          >Client group is <strong>required</strong></mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
      <mat-form-field class="w-full">
        <mat-label>Coordinator</mat-label>
        <mat-select formControlName="coordinator">
          <mat-option
            *ngFor="let coordinator of coordinators"
            [value]="coordinator.id"
            >{{ coordinator.label }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
      <mat-label class="d-block">&nbsp;</mat-label>
      <mat-slide-toggle color="primary" formControlName="doNotSendSMS">
        Do not send SMS
      </mat-slide-toggle>
    </div>
  </div>

  <button mat-flat-button color="success" (click)="onSaveClick()">Save</button>
</form>
